.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}



.dropdown-menu a:hover{

  text-decoration: none;
  color: white;
  background-color: teal;
}

.dropdown-menu li:hover{
  color: white;
  background-color: teal;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 5px;
  font-size: 15px;
  border: 1px solid grey;
  float: right;
  width: 20%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: right;
  width: 5%;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: left;
  display: table;
}

h1{
  text-align: center;
}